@{
    ViewBag.Title = "Health center";
}



<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <img src="~/Content/healthCenterBackground.jpg" style="width: 1120px; height: 380px" />
        </div>
    </div>


    <div class="jumbotron">
        <h1>Health Center</h1>
        <p class="lead">
            Health centers are community-based and patient-directed organizations that deliver comprehensive, culturally competent, high-quality primary health care services. Health centers also often integrate access to pharmacy, mental health, substance abuse, and oral health services in areas where economic, geographic, or cultural barriers limit access to affordable health care services. Health centers deliver care to the Nation’s most vulnerable individuals and families, including people experiencing homelessness, agricultural workers, residents of public housing, and the Nation’s veterans.

            Health Center Program fundamentals:

            Deliver high quality, culturally competent, comprehensive primary care, as well as supportive services such as health education, translation, and transportation that promote access to health care.
            Provide services regardless of patients’ ability to pay and charge for services on a sliding fee scale.
            Operate under the direction of patient-majority governing boards of autonomous community-based organizations.  These include public and private non-profit organizations and tribal and faith-based organizations.
            Develop systems of patient-centered and integrated care that respond to the unique needs of diverse medically underserved areas and populations.
        </p>
        <p><a href="https://bphc.hrsa.gov/about/what-is-a-health-center/index.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>



